.navigationBar {
  font-size: 3vmin;
  height: 90px;
  background-color: #c9bfbf;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbarlink {
  text-decoration: none;
}
.selected {
  font-weight: bold;
}

@media screen and (min-width: 832px) {
  .navigationBar {
     font-size: 25px;
  }
}
